extends layout

block content

  h2= subject + ' Study Group' 
  p= 'Created by ' + owner + ' at ' + timeStamp 
  p= 'Description: ' + description
  p= 'location: ' + location
  p= 'Number of members: ' + numOfParticipants
  p= 'Members: ' + members
  br
  button#btnJoinGroup Join Group
  br
  button#btnDeleteGroup Delete
 
  
