extends layout

block content

  h2= subject + ' Study Group' 
  p= 'Created by ' + owner + ' at ' + timeStamp 
  p= 'Description: ' + description
  p= 'location: ' + location
  p= 'Number of members: ' + members.length
  p= 'Members: ' + members
  br
  button#btnJoinGroup Join Group
  br
  button#btnDeleteGroup Delete
  
  h3 Comments

  #commentForm
    fieldset
      input#inputComment(type='text', placeholder='comment')
      br
      button#btnSendComment Send

  #comments
    each value, index in comments
      #comment
        p= value.name + ': ' + value.msg
