extends layout

block content

  h1= subject + ' Study Group' 
  p= 'Created by ' + owner + ' at ' + timeStamp 
  p= 'Description: ' + description
  p= 'location: ' + location
  p= 'Number of members: ' + numOfParticipants
  br
  button#btnDeleteGroup Delete
 
  
